
{% extends 'client/navbar.html' %}

{% block content %}

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3> Delete account </h3>

        <hr>

        <p> You may delete your account below: </p>
        
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            <input class="btn btn-danger w-100 p-2" type="submit" value="Delete account"/>

        </form>

        <br>

        <a href="{% url 'client-dashboard' %}"> Return to dashboard </a>

    </div>

    <br>

{% endblock %}






